body{
  background-color: rgba(8, 8, 8, 0.966);
}
  .App {
  
    margin: 0px 100px;
    font-weight: 400;
  
    font-family: Roboto,Arial,sans-serif;
    color:gold;
    padding: 10px 0px;
     -webkit-font-smoothing: antialiased;
     text-align: center;
  }
